<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Update Data</h1>

	<hr />

	<table>
		<form action="update">
			<tr>
				<td>ID
				<td />
				<td><input type="text" readonly name="id"  th:value="${s.id}" />
				<td />
			</tr>
			<tr>
				<td>Name
				<td />
				<td><input type="text" name="name" th:value="${s.name}"> 
				<td />
			</tr>
			<tr>
				<td>Email
				<td />
				<td><input type="text" name="email" th:value="${s.email}" />
				<td />
			</tr>
			<tr>
				<td>Round
				<td />
				<td><input type="text" name="round" th:value="${s.round}" />
				<td />
			</tr>
			<tr>
				<td>
				<td />
				<td><input type="submit" value="Update" />
				<td />
			</tr>
		</form>
	</table>
	<hr />

</body>
</html>